/**(Emma)
WICHTIG:
Breite und Höhe sind am iPad getestet und stimmen so!
Bei height:1536 gibts scollbalken, bei 1535 ist es nicht ganz ausgefüllt.
**/

a {
   color: #4defff;
   text-decoration: none;
   cursor:pointer;
}

nav {
    visibility: hidden;
    height: 1534px;
    /* height: 100%;*/
    width: 320px;
    /*width: 14%;*/
    background: -webkit-gradient(linear, left top, right top,
        color-stop(0%,rgba(0,0,0,0.61)),
        color-stop(99%,rgba(0,0,0,0.83)),
        color-stop(100%,rgba(0,0,0,0.83)));
    border-right: 5px solid #cc0000;
    float: left;
    color:#fff;
    font-size: 24pt;
    text-align: center;
    position: absolute;
    top:0px;
}

section div#content {
    position: absolute;
    top:0px;
    visibility: hidden;
    margin-left: 320px;
    background-color: #ECECEC;
    border: none;
    height: 1535px;
}

.buttonPosition {
    padding-top: 10px;
    height:171px;
    margin-top: 60px;
}

.buttonPosition #first {
    margin-top: 30px;
}

.button {
    width: 125px;
    height: 125px;
}

#backBtn {
    background:url('icon_back.svg') no-repeat;
    background-size: 125px;
    margin-left: auto;
    margin-right: auto;
  /*  background-position: 10px -210px;*/
}

#roomBtn {
    background:url('icon_ort.svg') no-repeat;
    background-size: 125px;
    margin-left: auto;
    margin-right: auto;
    /*background-position: -100px 10px;*/
}

#filterBtn {
    background:url('icon_filter.svg') no-repeat;
    background-size: 125px;
    margin-left: auto;
    margin-right: auto;
    /*background-position: 10px -110px;*/
}

#infoBtn {
    background:url('icon_info.svg') no-repeat;
    background-size: 125px;
    margin-left: auto;
    margin-right: auto;
    /*background-position: 10px -110px;*/
}

#backBtn:active {
    background:url('icon_backRot.svg') no-repeat;
    background-size: 125px;
    margin-left: auto;
    margin-right: auto;
}

#roomBtn:active {
    background:url('icon_ortRot.svg') no-repeat;
    background-size: 125px;
    margin-left: auto;
    margin-right: auto;
}

#filterBtn:active {
    background:url('icon_filterRot.svg') no-repeat;
    background-size: 125px;
    margin-left: auto;
    margin-right: auto;
}

#infoBtn:active {
    background:url('icon_infoRot.svg') no-repeat;
    background-size: 125px;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    height:125px;
    width:125px;
}

#menu {
    float: right;
    color: black;
    background-color: white;
    opacity: 0.8;
    height: 1535px;
    width: 440px;
    margin-left: 220px;
    display: none;
    position: absolute;
    border-right: 5px solid #cc0000;
}

#frameContent {
    width: 1727px;
    height: 1535px;
}

#start {
    width: 2047px;
    height: 1535px;
    background-color: #cc0000;
}

#icon{
    align-self: center;
    vertical-align: middle;
}

.tower {
    width: 100%;
    height: 234px;

    position: absolute;
    bottom: 36px;

    text-align: center;
    font-size: 36pt;
    font-weight: bold;

}

#tower {
    background:url('stapel.svg') no-repeat;
    background-size: 111px;
    width:101px;
    height: 111px;
    margin-left: auto;
    margin-right: auto;
}

.levelBtn {
    width:100%;
    height:96px;
    text-align: center;
    background: #fff;
    opacity: 0.56;
}

.levelBtn#up {
    position: absolute;
    top: 0px;
    border-bottom: 1px solid #666;
}

.levelBtn#down {
    position: absolute;
    bottom: 0px;
    border-top: 1px solid #666;
}

.arrow {
    width: 125px;
    height: 96px;
}

.arrow:disabled {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#levelUp {
    margin-top: 22px;
    background:url('Pfeil.svg') no-repeat;
    background-size: 125px;
    margin-left: 45%;
    opacity: 1;
}

#levelDown {
    margin-top: -22px;
    background:url('Pfeil.svg') no-repeat;
    transform:rotate(180deg);
    background-size: 125px;
    margin-left: 45%;
    opacity: 1;
}

/*.levelBtn#levelUp:disabled,
.levelBtn#levelDown:disabled {

}*/
